.counter__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter__item {
    width: 27%;
    text-align: center;
}

.counter__number,
.counter__title {
    color: #379cf6;
    background-size: 100% 100%;
    background-clip: text;
    row-gap: 8rem;
    /* -webkit-text-fill-color: transparent; */
}

.counter__number {
    font-size: 1.5rem;
    margin-bottom: 1px;
}

.counter__title {
    font-size: 1.2rem;
    margin-top: 1px;
}